[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/rodin/Desktop/sh_cheatsheet.png]
row=4
col=0

[8ECE-A707]
row=7
col=0

[C04AB46E4AB462B8]
row=0
col=0

[72F015FFF015C9ED]
row=6
col=0

[76FA-C8CF]
row=5
col=0

[Trash]
row=1
col=0

[/]
row=2
col=0

[/home/rodin]
row=3
col=0

